/*
 * Copyright (c) [:YEAR:] ZhongYao Luo <luozhongyao@gmail.com>
 * 
 * SPDX-License-Identifier: 
 */


#ifndef __[:BASE:]_[:EXPAND:]__
#define __[:BASE:]_[:EXPAND:]__


#endif /* __[:BASE:]_[:EXPAND:]__*/
